<div class="error-msg">
	<% if @movie.errors.any? %>
	<ul>
		<% @movie.errors.full_messages.each do |msg| %>
		<li>
			<%=msg %>
		</li>
		<% end %>
	</ul>
	<% end %>
</div>

<%=form_for(@movie) do |f| %>
	<div class=”field”>
		<p>Title</p>
		<%=f.text_field :title %>
	</div>
	<div class=”field”>
		<p>Release Date</p>
		<%=f.text_field :release_date %>
	</div>

	<div class="field">
		<p>Description</p>
		<%=f.text_area :description %>
	</div>

	<div class=”field”>
		<p>Event</p>
		<%=f.collection_select :event_id, Event.all, :id, :event_name %>
	</div>
	<div class=”actions”>
		<%=f.submit %>
	</div>
<% end %>

<%=link_to "Home menu", home_index_path%>