<h2><%=@greeting%></h2>

<p><%=@follower%> says that they are coming to your event!  Maybe it's time to start seriously planning?  It'll be a great party with <%=@follower%> around, won't it?  Make updates to your event <a href=<%=event_url(@eventid)%>>here</a> You can also check out <%=@follower%>'s profile <a href=<%=user_url(@id)%>>here</a></p>