<h2><%=@greeting%></h2>

<p><%=@attendee%> says that they are coming to your event!  Maybe it's time to start seriously planning?  It'll be a great party with <%=@attendee%> around, won't it?
</p>
<p>
  Make updates to your event, <%=@eventtitle%>, <a href=<%event_url(@eventid)%>>here</a>.
</p>
<p>
  You can also check out <%=@attendee%>'s profile <a href=<%=user_url(@id)%>>here</a>.
</p>