<table>
	<tr>
		<td>name</td>
		<td>email</td>
		<td>password</td>
	</tr>
	<%@users.each do |user|%>
	<tr>
		<td><%=link_to user.name, user_path(user.id)%></td>
		<td><%=user.email %></td>
		<td><%=user.password %></td>
		<%if current_user.id == user.id%>
		<td><%=link_to "edit profile", edit_user_registration_path%></td>
		<td><%=button_to "delete profile", user, confirm:"Do you really want to delete your profile?", method: :delete%></td>
		<%end%>

	</tr>
	<% end %>
</table>

<%=link_to "Home menu", home_index_path%>
