<title>
	Movies With Friends!
</title>

<head>
	<h1> Welcome To Movies With Friends</h1>
</head>

<body>

	<p>Users</p>
	<!--<%=link_to "new users", new_user_session_path%>-->
	<%=link_to "edit user", edit_user_registration_path%>
	<%=link_to "view profile", user_path(current_user.id)%>
	<%=link_to "all users", users_path%>


	<p>Events</p>
	<%=link_to "new event", new_event_path%>
	<%=link_to "all events", events_path%>

	<p>Movies</p>
	<%=link_to "new movie", new_movie_path%>
	<%=link_to "all movies", movies_path%>

</body>