<div class="error-msg">
	<% if @event.errors.any? %>
	<ul>
		<% @event.errors.full_messages.each do |msg| %>
		<li>
			<%=msg %>
		</li>
		<% end %>
	</ul>
	<% end %>
</div>

<%=form_for(@event) do |f| %>
	<div class="field">
		<p>Event Name</p>
		<%=f.text_field :event_name%>
	</div>
	<div class="field">
		<p>Event Date (mm/dd/yy)</p>
		<%=f.text_field :event_date%>
	</div>
	<div class="field">
		<p>End of Voting Time (mm/dd/yy)</p>
		<%=f.text_field :vote_end_time%>
	</div>
	<div class="field">
		<%=f.hidden_field :creator_id, :value=>current_user.id%>
	</div>

	<div class="actions">
		<%=f.submit %>
	</div>
<% end %>

<%=link_to "Home menu", home_index_path%>